{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
     <h1>Запуск программных модулей</h1>
    <br>
    <p><div><a href="{{ url_for('static', filename=run.report_1) }}">Отчет</a></div>
    {% if strats|length > 0 %}
        <h3>Результаты поиска стратиграфий</h3>
        {% for strat in strats %}
        <table class="table table-hover">
        <caption>Данные для скважины {{ strat.well().name }}</caption>
        <tr>
            <th>lingula_top</th>
            <th>lingula_bot</th>
            <th>p2ss2_bot</th>
        </tr>
        <tr>
            <td>{{ strat.lingula_top }}</td>
            <td>{{ strat.p2ss2_top }}</td>
            <td>{{ strat.p2ss2_bot }}</td>
        </tr>
        </table>
        {% endfor %}
        <br>
    {% endif %}
    {% if core_res|length > 0 %}
        <h3>Результаты увязки</h3>
        {% for core in core_res %}
        <img src="{{url_for('static', filename =core.res_filepath) }}" alt="{{ core.well_data_id }}" width="350"
   height="250">
        {% endfor %}
        <br>
    {% endif %}
    {% if logs_res|length > 0 %}
        <h3>Результаты РИГИС</h3>
        {% for log in logs_res %}
        <img src="{{url_for('static', filename =log.res_filepath) }}" alt="{{ log.well_id }}" width="350"
   height="250">
        {% endfor %}
        <br>
    {% endif %}
        {% if struct_files.surface|length > 0 %}
        <h3>Результаты построения поверхностей</h3>
        {% for struct_file in struct_files.surface %}
        <p><div><a href="{{ url_for('static', filename=struct_file.filepath) }}">{{ struct_file.type }}</a></div>
        {% endfor %}
        <br>
    {% endif %}
{% endblock %}