{% extends "base.html" %}

{% block app_content %}

    <h1>Hello, {{ current_user.username }}!</h1>
    <br>
    <div class="list-group"
             style="display: inline-block; margin-left: 2%; height: 10rem; width: 10rem; border: 2px grey solid; border-radius: 6px 0 0 6px; overflow-y: scroll">
    {% for project in projects %}
        <div><p><a href="{{ url_for('work_project', name=project.name) }}">{{ project.name }}</a></p></div>
    {% endfor %}
    </div>

    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}