{% extends "base.html" %}

{% block content %}
     <h1>Hello, {{ current_user.username }}!</h1>
    <br>
    {% for project in projects %}
    <div><p>{{ project.name }}</p></div>
    {% endfor %}
    <form action="" method="post"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}