{% extends "base.html" %}

{% block content %}
     <h1>{{ project.name }}!</h1>
    <form action="" method="post"  novalidate enctype=multipart/form-data>
    <p>Rename your project</p>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.coords_file.label }}<br>
            {{ form.coords_file }}<br>
            {% for coords in project_files.coords_list %}
                <p><span>{{ coords.filepath }}</span></p>
            {% endfor %}
        </p>
        <p>
            {{ form.core_file.label }}<br>
            {{ form.core_file }}<br>
            {% for core in project_files.core_list %}
                <p><span>{{ core.filepath }}</span></p>
            {% endfor %}
        </p>
         <p>
            {{ form.logs_file.label }}<br>
            {{ form.logs_file }}<br>
             {% for logs in project_files.logs_list %}
                <p><span>{{ logs.filepath }}</span></p>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}